:root {
    --m-breakpoint: 600px;
    --t-breakpoint: 900px;
    --d-breakpoint: 1200px;
    --main-color: #ff5232;
}

* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.link {
    font-size: 16px;
    color: black;
    font-family: 'MontserratR';
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
}

.link:hover,
.link:focus {
    color: var(--main-color);
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: table;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
}

main {
    height: 100%;
    display: table-row;
}

.main_content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
}

header {
    width: 100%;
    background-color: white;
}

.header_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 20px;
}

.header_logo {
    height: 22px;
}

.header_logo-small {
    display: none;
    height: 22px;
}

.header_column-1,
.header_column-2,
.header_column-3 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header_column-1 {
    flex: 1;
}

.header_column-2 {
    flex: 2;
    justify-content: center;
}

.header_column-3 {
    flex: 1;
    justify-content: flex-end;
}

.header_reg-auth__wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
}

.button-target {
    background-color: var(--main-color);
    border-radius: 5px;
    padding: 7px;
    color: white;
    white-space: nowrap;
}

.button-target:hover,
.button-target:focus {
    color: rgb(219, 219, 219);
}

.burger_wrapper .button-target {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}

.burger_wrapper .button-target_wrapper {
    display: none;
}

@media (max-width: 700px) {
    .header_column-2 .button-target {
        display: none;
    }

    .burger_wrapper .button-target_wrapper {
        display: block;
    }

    .header_column-2 {
        justify-content: flex-end;
    }
}

.navbar {
    display: none;
    position: absolute;
    background-color: white;
    padding: 20px;
    top: 50px;
    overflow: hidden;
}

@media (max-width: 1400px) {
    .navbar {
        left: 0;
    }
}

.navbar.active {
    display: block;
    animation: slideDown 0.1s ease-in-out;
}

@keyframes slideDown {
    from {
        max-height: 0;
    }
    to {
        max-height: 200px; 
    }
}

.navbar ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.burger-btn {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 24px;
    cursor: pointer;
}

.burger_reg-auth {
    margin-bottom: 10px;
    display: none;
}

.header_seacrh__wrapper {
    display: flex;
    width: 100%;
    max-width: 300px;
}

.header_seacrh__input {
    outline: none;
    border: var(--main-color) solid 1px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0 10px;
    height: 28px;
    width: 100%;
    max-width: 300px;
    font-size: 14px;
    font-family: 'MontserratR';
}

.header_seacrh__button {
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--main-color);
    height: 30px;
    border: none;
}

.header_seacrh__button img {
    width: 20px;
}

@media (max-width: 500px) {
    .header_logo {
        display: none;
    }

    .header_logo-small {
        display: block;
    }
}

@media (max-width: 900px) {
    .header_column-3 {
        display: none;
    }

    .burger_reg-auth {
        display: block;
    }
}

footer {
    background-color: white;
    width: 100%;
}

.footer_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-main {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.copyrights_wrapper {
    width: 100%;
    border-top: #33333338 solid 1px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyrights_wrapper .copyrights {
    font-family: 'Roboto';
    font-size: 16px;
}

.footer-main .footer_column-1,
.footer-main .footer_column-2,
.footer-main .footer_column-3,
.footer-main .footer_column-4 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_logo {
    width: 150px;
}

.footer_desc {
    font-size: 18px;
    font-family: 'MontserratR';
}

.footer_title {
    font-size: 26px;
    color: var(--main-color);
    font-family: 'Roboto';
}

.footer_soc-link__wrapper {
    display: flex;
    gap: 10px;
}

.footer_soc-link__image {
    width: 30px;
}

.footer_menu__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 900px) {
    .footer-main {
        flex-wrap: wrap;
        gap: 30px;
    }

    .footer-main .footer_column-1,
    .footer-main .footer_column-2,
    .footer-main .footer_column-3,
    .footer-main .footer_column-4 {
        width: calc( 50% - 15px );
        flex: none;
    }
}

@media (max-width: 900px) {
    .footer-main .footer_column-1,
    .footer-main .footer_column-2,
    .footer-main .footer_column-3,
    .footer-main .footer_column-4 {
        width: 100%;
    }

    .footer_column-1 {
        align-items: center;
    }
    
    .footer_link {
        text-align: center;
    }

    .footer_desc {
        text-align: center;
    }
}

.form_r_a {
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: beige;
    box-shadow: 5px 13px 19px -4px rgba(219,219,219,0.59);
    -webkit-box-shadow: 5px 13px 19px -4px rgba(219, 219, 219, 0.79);
    -moz-box-shadow: 5px 13px 19px -4px rgba(219,219,219,0.59);
}

.form_r_a div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form_r_a div:last-child {
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
}

.form_r_a label {
    font-size: 14px;
    font-family: 'Roboto';
}

.form_r_a .form_link {
    font-size: 14px;
    font-family: 'MontserratR';
    transition: 0.3s;
    color: black;
}

.form_link:hover,
.form_link:focus {
    color: var(--main-color);
}

.form_r_a .input_error {
    font-size: 14px;
    font-family: 'Roboto';
    color: red;
}

.form_r_a input[type=email],
.form_r_a input[type=password],
.form_r_a input[type=text] {
    max-width: 100%;
    min-width: 400px;
    height: 40px;
    padding: 0 10px;
    border-radius: 7px;
    outline: none;
    border: #8888885c solid 1px;
    transition: 0.3s;
    font-size: 14px;
    font-family: 'MontserratR';
}

.form_r_a input[type=email]:hover,
.form_r_a input[type=password]:hover,
.form_r_a input[type=text]:hover,
.form_r_a input[type=email]:focus,
.form_r_a input[type=password]:focus,
.form_r_a input[type=text]:focus {
    border-color: var(--main-color);
}

.form_r_a input[type=checkbox] {
    width: 20px;
    height: 20px;
}

.form_r_a .form_label__checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form_r_a .form_button {
    background-color: var(--main-color);
    border-radius: 5px;
    color: white;
    white-space: nowrap;
    border: none;
    font-size: 16px;
    font-family: 'Roboto';
    padding: 7px 10px;
}

.bloks_wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}

.block_container {
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.admin_title {
    font-size: 32px;
    font-family: 'Roboto';
}

.admin_table thead {
    border-bottom: #33333338 solid 1px;
}

.admin_table thead th {
    text-align: start;
    font-size: 18px;
    font-family: 'Roboto';
    padding-top: 10px;
    padding-bottom: 10px;
}

.admin_table thead tr th:first-child {
    padding-left: 20px;
}

.admin_table thead tr th:last-child {
    padding-right: 20px;
}

.admin_table tbody tr:first-child td:first-child {
    padding-top: 10px;
}

.admin_table tbody tr:nth-child(even) {
    background-color: aliceblue;
}

.admin_table tbody tr td:first-child {
    padding-left: 20px;
}

.admin_table tbody tr td:last-child {
    padding-right: 20px;
}

.admin_table tbody tr td {
    padding-top: 15px;
    padding-bottom: 15px;
}

.admin_table .table_link {
    font-size: 14px;
    text-decoration: none;
    font-family: 'MontserratR';
    transition: 0.3s;
}

@media (max-width: 900px) {
    .table_categories tbody tr td:nth-child(1),
    .table_categories tbody tr td:nth-child(3),
    .table_categories thead tr th:nth-child(1),
    .table_categories thead tr th:nth-child(3) {
        display: none;
    }

    .admin_table tbody tr td:nth-child(2),
    .admin_table thead tr th:nth-child(2) {
        padding-left: 20px;
    }
    
    .admin_table tbody tr td:nth-child(4),
    .admin_table thead tr th:nth-child(4) {
        padding-right: 20px;
    }
}

.admin_table tbody tr td {
    font-size: 14px;
    font-family: 'MontserratR';
    vertical-align: middle;
}

.table_categorie__image {
    width: 100px;
}

.admin_table .table_link:hover {
    opacity: 0.5;
}

.link_update {
    color: blue;
}

.link_delete {
    color: red;
}

.admin_form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 15px;
    background-color: aliceblue;
    max-width: 500px;
}

.admin_form div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.admin_form label {
    font-size: 14px;
    font-family: 'Roboto';
}

.admin_form input[type='text'] {
    max-width: 100%;
    height: 40px;
    padding: 0 10px;
    border-radius: 7px;
    outline: none;
    border: #8888885c solid 1px;
    border-top-color: rgba(136, 136, 136, 0.36);
    border-right-color: rgba(136, 136, 136, 0.36);
    border-bottom-color: rgba(136, 136, 136, 0.36);
    border-left-color: rgba(136, 136, 136, 0.36);
    transition: 0.3s;
    font-size: 14px;
    font-family: 'MontserratR';
}

.admin_form textarea {
    max-width: 100%;
    height: 40px;
    padding: 0 10px;
    border-radius: 7px;
    outline: none;
    border: #8888885c solid 1px;
    border-top-color: rgba(136, 136, 136, 0.36);
    border-right-color: rgba(136, 136, 136, 0.36);
    border-bottom-color: rgba(136, 136, 136, 0.36);
    border-left-color: rgba(136, 136, 136, 0.36);
    transition: 0.3s;
    font-size: 14px;
    font-family: 'MontserratR';
    width: 100%;
    max-height: 500px;
    padding-top: 10px;
    min-height: 75px;
    min-width: 100%;
}

.admin_form input[type='submit'] {
    background-color: var(--main-color);
    border-radius: 5px;
    color: white;
    white-space: nowrap;
    border: none;
    font-size: 16px;
    font-family: 'Roboto';
    padding: 7px 10px;
}

.admin_form input[type='text']:focus,
.admin_form input[type='text']:hover,
.admin_form textarea {
    border-color: var(--main-color);
}


@font-face {
    font-family: MontserratB; 
    src: url('../assets/fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: MontserratR; 
    src: url('../assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Roboto; 
    src: url('../assets/fonts/RobotoFlex.ttf') format('truetype');
}